<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cetacea</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cetacea</string>
				<string>Cetacea</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon-cetacea-64</string>
				<string>icon-cetacea-1024</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Cetacea Document</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.JustZht.Cetacea.document</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.5</string>
	<key>CFBundleVersion</key>
	<string>962</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>a16b406fd4e2436ed428a29739ef5d3c14fb0569</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.JustZht.Cetacea</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Cetacea</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.JustZht.Cetacea.ActivityType.EditingDocument</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>FiraCode-Bold.ttf</string>
		<string>FiraCode-Light.ttf</string>
		<string>FiraCode-Medium.ttf</string>
		<string>FiraCode-Regular.ttf</string>
		<string>FiraCode-Retina.ttf</string>
		<string>Monoid-Bold.ttf</string>
		<string>Monoid-Regular.ttf</string>
		<string>Monoid-Retina.ttf</string>
		<string>Monoid-Italic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>com.JustZht.Cetacea.document</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cetacea Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.JustZht.Cetacea.document</string>
			<key>UTTypeSize320IconFile</key>
			<string>icon-cetacea-1024</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon-cetacea-320</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>cetacea</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cetacea Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.JustZht.Cetacea.document</string>
			<key>UTTypeSize320IconFile</key>
			<string>icon-cetacea-1024</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon-cetacea-320</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.JustZht.Cetacea.document</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cetacea Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.JustZht.Cetacea.document</string>
			<key>UTTypeSize320IconFile</key>
			<string>icon-cetacea-1024</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon-cetacea-320</string>
		</dict>
	</array>
</dict>
</plist>
